#booking {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  flex-direction: column;
  background-color: #d9d9d9;
}

#booking h1 {
  padding-top: 24px;
  padding-bottom: 16px;
}

#booking .booking-form-section {
  display: flex;
  font-display: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 960px;
}

#booking form {
  display: grid;
  max-width: 200px;
  gap: 20px;
  background-color: white;
  margin: 16px;
  padding: 0 32px 32px 32px;
}

#booking form label {
  color: #495e57;
  font-weight: 500;
  font-family: Karla;
  font-size: 16px;
}

#booking form input,
#booking form select {
  padding: 12px;
  border-radius: 8px;
  color: #495e57;
  border-width: 1px;
  border-color: #495e57;
  margin-top: 6px;
  margin-bottom: 6px;
}

#booking form #submit-btn {
  background-color: #495e57;
  color: #f4ce14;
  font-family: Karla;
  font-weight: bold;
  cursor: pointer;
}

.inputError {
  border-color: red !important;
  color: red !important;
}

.errorMsg {
  color: red !important;
  font-weight: 500;
  font-family: Karla;
  font-size: 14px;
}

.book-item {
  flex-direction: column;
  display: flex;
}
