 main {
     padding-left: 16px;
     padding-right: 16px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #495E57;
 }

 #main-container {
     display: flex;
     flex-direction: row;
     max-width: 960px;
     width: 100%;
     justify-content: space-between;
 }

 #main-container h1 {
     font-family: Roboto;
     font-weight: 500;
     color: #F4CE14;
     margin: 0;
     padding-top: 47px;
     font-size: 56px;
 }

 #main-container h3 {
     font-family: 'Markazi Text';
     font-weight: 500;
     color: #F4CE14;
     margin: 0;
     font-size: 32px;
     color: #FFFFFF;
 }