#specials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  flex-direction: column;
  padding-bottom: 72px;
}

#specials .specials-top-section {
  display: flex;
  font-display: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin-bottom: 69px;
}

#specials .specials-section {
  display: flex;
  font-display: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
}

#specials .specials-section .special {
  display: flex;
  flex-direction: column;
  width: 264px;
}

#specials .specials-section .special div {
  padding: 19px 24px;
  background-color: #EDEFEE;
}

#specials .specials-section .special img {
  width: 100%;
  height: 185px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
}

#specials .specials-section .special .title-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

#specials .specials-section .special .title-section p,
h4 {
  margin: 0;
}

#specials .specials-section .special .title-section h4 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 24px;

}

#specials .specials-section .special .title-section p {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 16px;
  color: #EE9972;
}

#specials .specials-section .special .special-desc {
  font-family: 'Karla';
  font-weight: 400;
  font-size: 16px;
  color: #495E57;
}

#specials .specials-section .special .special-info {
  flex: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#specials .specials-section .special button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 736px) {
  #specials {
    margin-top: 36px;
  }

  #specials .specials-top-section {
    width: calc(100% - 32px);
    align-self: center;
    margin-bottom: 36px;
  }

  #specials .specials-section {
    width: calc(100% - 32px);
    align-self: center;
  }

  #specials .specials-section .special {
    margin-top: 36px;
  }
}

@media screen and (max-width: 568px) {
  #specials .specials-section .special {
    width: 100%;
  }

  #specials .specials-section .special img {
    height: 360px;
  }
}